<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Octasoft Membre{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script>
            var assetsBaseDir = "{{ asset('bundles/octasoft/') }}";
        </script>
    </head>
    <body class="page-container-bg-solid page-md">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
