{% extends '::layout.html.twig' %}
{% block container %}
    <h4 class="form-title">Bienvenue Chez OctasoftMembre</h4>
    <p><a href="{{ path('fos_user_security_login') }}" class="btn green pull-right">Have a good time</a></p>
{% endblock %}